# Node.js 依赖
node_modules/

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.*

# 操作系统生成的无关文件
.DS_Store
Thumbs.db

# 编辑器配置
.vscode/
.idea/
*.swp

# 生产构建输出（如有）
dist/
build/

# 其他缓存
.cache/